name: Swift

on: [push]

jobs:    
  test:
    name: Test
    runs-on: macos-11

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Bundle Install
      run: bundle install
    - name: Unit tests
      run: bundle exec fastlane tests